Repository ccao-data/assesspy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:

    -   id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        files: ^(assesspy/|tests/)

    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        exclude: '.*/migrations/.*'
        args: [
            '--line-length=110',
            '--multi-line=3',
            '--force-grid-wrap=0',
            '--trailing-comma',
            '--use-parentheses',
            '--ensure-newline-before-comments',
        ]

    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]
        files: ^(assesspy/|tests/)
        args: [
          '--per-file-ignores=
            assesspy/*:E501
            assesspy/__init__.py:F401'
          ]

Remove scipy dependency
  pyproject.toml
Due: none

Refactor sales chasing functions
  assesspy/sales_chasing.py
Due: black, isort, flake8

Fixup outlier functions
  assesspy/outliers.py
  assesspy/tests/test_outliers.py
Due: black, isort, flake8

Finalize sales chasing rewrite
  assesspy/__init__.py
  assesspy/sales_chasing.py
  assesspy/tests/conftest.py
  assesspy/tests/test_ci.py
  assesspy/tests/test_outliers.py
  assesspy/tests/test_sales_chasing.py
  docs/source/reference.rst
  docs/source/sales_chasing.rst
Due: black, isort, flake8

Add tests for all code paths
  assesspy/ci.py
  assesspy/sales_chasing.py
  assesspy/tests/test_ci.py
  assesspy/tests/test_metrics.py
  assesspy/tests/test_sales_chasing.py
  assesspy/utils.py
Due: black, isort, flake8

Update README
  README.md
Due: none

Update docs
  docs/source/reference.rst
  pyproject.toml
Due: none

Lint with ruff
  assesspy/__init__.py
  assesspy/utils.py
Due: black, isort, flake8

Add Python 3.13 support
  .github/workflows/test-coverage.yaml
  pyproject.toml
Due: none

Update tests and types
  assesspy/ci.py
  assesspy/metrics.py
  assesspy/outliers.py
  assesspy/sales_chasing.py
  assesspy/tests/test_outliers.py
Due: black, isort, flake8

Add Python 3.8 support
  .github/workflows/python-package.yaml
  pyproject.toml
Due: none

Add more python versions, update docstrings
  .github/workflows/python-package.yaml
  .github/workflows/test-coverage.yaml
  .python-versions
  assesspy/ci.py
  assesspy/metrics.py
  assesspy/outliers.py
  assesspy/sales_chasing.py
  pyproject.toml
Due: black, isort, flake8

Revert .python-versions setup
  .github/workflows/python-package.yaml
  .github/workflows/test-coverage.yaml
  .python-versions
Due: none

Remove pandas stubs dep
  pyproject.toml
Due: none

Set 3.9 to min python version
  .github/workflows/python-package.yaml
  .github/workflows/test-coverage.yaml
  pyproject.toml
Due: none

Fix indexing bug for MKI
  assesspy/metrics.py
Due: black, isort, flake8

Add more tests of MKI index issues
  assesspy/metrics.py
  assesspy/tests/conftest.py
  assesspy/tests/test_metrics.py
Due: black, isort, flake8

Update example ratio study notebook
  docs/source/notebooks/example-ratio-study.ipynb
Due: none

Fix rst table format
  assesspy/load_data.py
Due: black, isort, flake8

Set notebook execution timeout
  docs/source/conf.py
Due: isort

Update doc references
  assesspy/load_data.py
  docs/source/ci.rst
  docs/source/index.rst
Due: black, isort, flake8

Fix minor doc issues
  assesspy/load_data.py
  docs/source/index.rst
  docs/source/notebooks/example-ratio-study.ipynb
Due: black, isort, flake8

Remove 3.8 from tox env list
  pyproject.toml
Due: none

Bump release date
  CITATION.cff
Due: none

Remove unnecessary typing
  assesspy/metrics.py
Due: black, isort, flake8

Deduplicate PRD code
  assesspy/ci.py
  assesspy/metrics.py
Due: black, isort, flake8

Scope test to session
  assesspy/tests/conftest.py
Due: black, isort, flake8

Join check_inputs messages with newlines
  assesspy/utils.py
Due: black, isort, flake8

Fix ruff errors
  assesspy/ci.py
  assesspy/metrics.py
  assesspy/utils.py
Due: black, isort, flake8

Scope seed fixture to each test
  assesspy/tests/conftest.py
Due: black, isort, flake8

Refactor AssessPy for consistency, stability (#24)
  .github/workflows/python-package.yaml
  .github/workflows/test-coverage.yaml
  CITATION.cff
  README.md
  assesspy/__init__.py
  assesspy/ci.py
  assesspy/data/ccao_sample.parquet
  assesspy/data/mki_ki.csv
  assesspy/data/quintos_sample.csv
  assesspy/data/ratios_sample.parquet
  assesspy/formulas.py
  assesspy/load_data.py
  assesspy/metrics.py
  assesspy/outliers.py
  assesspy/sales_chasing.py
  assesspy/tests/conftest.py
  assesspy/tests/test_ci.py
  assesspy/tests/test_formulas.py
  assesspy/tests/test_metrics.py
  assesspy/tests/test_outliers.py
  assesspy/tests/test_sales_chasing.py
  assesspy/utils.py
  docs/source/ccao_sample.rst
  docs/source/ci.rst
  docs/source/cod.rst
  docs/source/conf.py
  docs/source/index.rst
  docs/source/ki.rst
  docs/source/mki.rst
  docs/source/mki_ki.rst
  docs/source/notebooks/example-ratio-study.ipynb
  docs/source/outliers.rst
  docs/source/prb.rst
  docs/source/prd.rst
  docs/source/quintos_sample.rst
  docs/source/ratios_sample.rst
  docs/source/reference.rst
  docs/source/sales_chasing.rst
  pyproject.toml
Due: black, isort, flake8

Include sample
  assesspy/data/IAAO_sample.csv
Due: none

Add working docs
  assesspy/load_data.py
  assesspy/tests/conftest.py
  assesspy/tests/test_metrics.py
  docs/source/IAAO_sample.rst
  docs/source/reference.rst
Due: black, isort, flake8

Rename to sample
  assesspy/tests/conftest.py
Due: black, isort, flake8

Add init
  assesspy/__init__.py
Due: black, isort, flake8

reorder
  assesspy/__init__.py
  assesspy/tests/conftest.py
Due: black, isort, flake8

RUFF
  assesspy/__init__.py
  assesspy/load_data.py
Due: black, isort, flake8

RUFF
  assesspy/load_data.py
  assesspy/tests/conftest.py
  assesspy/tests/test_metrics.py
Due: black, isort, flake8

Remove spaces
  assesspy/data/IAAO_sample.csv
Due: none

Round values
  assesspy/tests/test_metrics.py
Due: black, isort, flake8
