Repository ccao-data/assesspy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:

    -   id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        files: ^(assesspy/|tests/)

    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        exclude: '.*/migrations/.*'
        args: [
            '--line-length=110',
            '--multi-line=3',
            '--force-grid-wrap=0',
            '--trailing-comma',
            '--use-parentheses',
            '--ensure-newline-before-comments',
        ]

    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]
        files: ^(assesspy/|tests/)
        args: [
          '--per-file-ignores=
            assesspy/*:E501
            assesspy/__init__.py:F401'
          ]

Try different flake8 version
  .pre-commit-config.yaml
Due: none

Try changing isort version
  .pre-commit-config.yaml
Due: none

Switch MKI sorting from quicksort to mergesort
  assesspy/formulas.py
Due: black, isort, flake8

Switch MKI sorting from quicksort to mergesort (#19)
  assesspy/formulas.py
Due: black, isort, flake8

Refactor pre-commit using composite action. (#18)
  .github/workflows/pre-commit.yaml
  .pre-commit-config.yaml
Due: none

Fix CITATION URL
  CITATION.cff
Due: none

Add initial pyproject.toml
  pyproject.toml
Due: none

Move pytest config to pyproject.toml
  pyproject.toml
  pytest.ini
  requirements.txt
Due: none

Delete extraneous files
  MANIFEST.in
  pyproject.toml
  setup.cfg
  setup.py
Due: isort

Use setuptools in pyproject.toml
  pyproject.toml
Due: none

Update .gitignore
  .gitignore
Due: none

Add working pyproject.toml
  pyproject.toml
Due: none

Update testing and install GHA
  .github/workflows/python-package.yaml
  .github/workflows/test-coverage.yaml
  .gitignore
  pyproject.toml
Due: none

Swap cov report to XML
  .github/workflows/test-coverage.yaml
Due: none

Install dev deps in package testing
  .github/workflows/python-package.yaml
Due: none

Update tox setup
  .github/workflows/python-package.yaml
  .github/workflows/test-coverage.yaml
  pyproject.toml
Due: none

Update tox setup
  .github/workflows/python-package.yaml
Due: none

Fix test coverage and setup
  .github/workflows/test-coverage.yaml
  .gitignore
  pyproject.toml
Due: none

Update docs GHA
  .github/workflows/pages.yaml
  .gitignore
  pyproject.toml
Due: none

Add python version
  .github/workflows/pages.yaml
Due: none

Add pip cache to all actions
  .github/workflows/pages.yaml
  .github/workflows/python-package.yaml
  .github/workflows/test-coverage.yaml
Due: none

Add ruff linting
  .github/workflows/lint.yaml
  .github/workflows/pages.yaml
  .github/workflows/test-coverage.yaml
Due: none

Add ruff setup
  pyproject.toml
Due: none

Add ruff pre-commit hook
  .pre-commit-config.yaml
Due: none

Uncapitalize dep name
  .github/workflows/lint.yaml
Due: none

Move sphinx config to pyproject.toml
  docs/source/conf.py
  pyproject.toml
Due: isort

Update docs config
  docs/source/conf.py
  docs/source/license.rst
Due: isort

Fix linting errors
  docs/source/conf.py
Due: isort

Fix toml config error
  .gitignore
  pyproject.toml
Due: none

Increment package version
  pyproject.toml
Due: none

Update example ratio study
  docs/source/notebooks/example-ratio-study.ipynb
Due: none

Reconfigure imports
  assesspy/__init__.py
  pyproject.toml
Due: black, isort, flake8

Finalize __init__.py
  assesspy/__init__.py
Due: black, isort, flake8

Add setuptools dep
  pyproject.toml
Due: none

Update kernel name
  docs/source/notebooks/example-ratio-study.ipynb
Due: none

Cleanup PyPI workflow
  .github/workflows/pypi-publish.yaml
Due: none

Create pypi-upload.yaml (#14)
  .github/workflows/pypi-publish.yaml
Due: none

Add build steps to pypi-publish.yaml
  .github/workflows/pypi-publish.yaml
Due: none

Add build steps to pypi-publish.yaml (#21)
  .github/workflows/pypi-publish.yaml
Due: none

Bump version
  CITATION.cff
  setup.py
Due: isort
