Repository ccao-data/assesspy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

black:
  name: black
  entry: black
  language: system

isort:
  name: isort
  entry: isort
  language: system
  args:
  - --line-length=110
  - --multi-line=3
  - --force-grid-wrap=0
  - --trailing-comma
  - --use-parentheses
  - --ensure-newline-before-comments

flake8:
  name: flake8
  entry: flake8
  language: system
  args:
  - --per-file-ignores= assesspy/*:E501 assesspy/__init__.py:F401

Update README
  README.md
Due: none

Capitalize Python
  .gitignore
  README.md
Due: none

Bump version
  CITATION.cff
  pyproject.toml
Due: none

Add README classifiers
  pyproject.toml
Due: none

Bump ruff version
  .pre-commit-config.yaml
Due: none

Add missing comma to pyproject.toml
  pyproject.toml
Due: none

Update to modern packaging setup (#20)
  .github/workflows/lint.yaml
  .github/workflows/pages.yaml
  .github/workflows/python-package.yaml
  .github/workflows/test-coverage.yaml
  .gitignore
  .pre-commit-config.yaml
  CITATION.cff
  MANIFEST.in
  README.md
  assesspy/__init__.py
  docs/source/conf.py
  docs/source/license.rst
  docs/source/notebooks/example-ratio-study.ipynb
  pyproject.toml
  pytest.ini
  requirements.txt
  setup.cfg
Due: black, isort, flake8

Remove setup.py
  setup.py
Due: isort

Update PyPI workflow name
  .github/workflows/pypi-publish.yaml
Due: none

Configure ruff line-length and import sort
  .pre-commit-config.yaml
  pyproject.toml
Due: none

Switch to uv in GHA
  .github/workflows/lint.yaml
  .github/workflows/pages.yaml
  .github/workflows/pypi-publish.yaml
  .github/workflows/python-package.yaml
  .github/workflows/test-coverage.yaml
  pyproject.toml
Due: none

Install uv deps to system path
  .github/workflows/pre-commit.yaml
  .github/workflows/python-package.yaml
  .github/workflows/test-coverage.yaml
Due: none

Fix GHA errors
  .github/workflows/pages.yaml
  .github/workflows/python-package.yaml
Due: none

Pass env name to tox explicitly
  .github/workflows/python-package.yaml
Due: none

Install setuptools inside uv venv
  .github/workflows/python-package.yaml
Due: none

Add explicit setuptools dep for tox
  pyproject.toml
Due: none

Remove GHA uv pip install
  .github/workflows/python-package.yaml
Due: none

Fix and lint with ruff
  assesspy/__init__.py
  assesspy/ci.py
  assesspy/formulas.py
  assesspy/load_data.py
  assesspy/outliers.py
  assesspy/sales_chasing.py
  assesspy/tests/test_formulas.py
  docs/source/conf.py
  docs/source/notebooks/example-ratio-study.ipynb
Due: black, isort, flake8

Setup Python before installing uv deps
  .github/workflows/pypi-publish.yaml
Due: none

Remove GH ver to tox env mapping
  pyproject.toml
Due: none

Remove unnecessary uv run
  .github/workflows/pages.yaml
  .github/workflows/test-coverage.yaml
Due: none

Configure ruff and UV (#23)
  .github/workflows/lint.yaml
  .github/workflows/pages.yaml
  .github/workflows/pre-commit.yaml
  .github/workflows/pypi-publish.yaml
  .github/workflows/python-package.yaml
  .github/workflows/test-coverage.yaml
  .pre-commit-config.yaml
  assesspy/__init__.py
  assesspy/ci.py
  assesspy/formulas.py
  assesspy/load_data.py
  assesspy/outliers.py
  assesspy/sales_chasing.py
  assesspy/tests/test_formulas.py
  docs/source/conf.py
  docs/source/notebooks/example-ratio-study.ipynb
  pyproject.toml
Due: black, isort, flake8

Add type stubs to dev deps
  .github/workflows/test-coverage.yaml
  pyproject.toml
Due: none

Refactor all assesspy formulas
  assesspy/__init__.py
  assesspy/ci.py
  assesspy/data/ratios_sample.parquet
  assesspy/formulas.py
  assesspy/metrics.py
  assesspy/tests/test_formulas.py
  assesspy/tests/test_metrics.py
  assesspy/utils.py
Due: black, isort, flake8

Add full test suite for metrics
  assesspy/data/mki_ki.csv
  assesspy/tests/test_metrics.py
Due: black, isort, flake8

Add and clean testing data/samples
  assesspy/__init__.py
  assesspy/data/ccao_sample.parquet
  assesspy/data/mki_ki.csv
  assesspy/data/quintos_sample.csv
  assesspy/load_data.py
  assesspy/metrics.py
  assesspy/tests/test_metrics.py
Due: black, isort, flake8

Update doc refs for data sets
  docs/source/ccao_sample.rst
  docs/source/mki_ki.rst
  docs/source/quintos_sample.rst
  docs/source/reference.rst
Due: none

Update metric docs types
  assesspy/metrics.py
Due: black, isort, flake8

Cleanup doc groupings
  docs/source/ci.rst
  docs/source/cod.rst
  docs/source/ki.rst
  docs/source/mki.rst
  docs/source/prb.rst
  docs/source/prd.rst
  docs/source/quintos_sample.rst
  docs/source/reference.rst
Due: none

Bump package version
  CITATION.cff
  pyproject.toml
Due: none

Add metrics _met docs
  assesspy/metrics.py
Due: black, isort, flake8

Update all CI functions
  assesspy/__init__.py
  assesspy/ci.py
  assesspy/tests/test_ci.py
Due: black, isort, flake8

Don't export check_inputs
  assesspy/__init__.py
Due: black, isort, flake8

Update outlier functions
  assesspy/__init__.py
  assesspy/outliers.py
  docs/source/reference.rst
Due: black, isort, flake8

Cleanup test fixtures
  assesspy/tests/conftest.py
  assesspy/tests/test_ci.py
  assesspy/tests/test_metrics.py
Due: black, isort, flake8

Refactor outlier functions
  assesspy/outliers.py
Due: black, isort, flake8

Rename expect output vars
  assesspy/tests/test_ci.py
  assesspy/tests/test_metrics.py
Due: black, isort, flake8

Add outlier function tests
  assesspy/outliers.py
  assesspy/tests/test_outliers.py
Due: black, isort, flake8

Add option to disable lt 0 check for check_inputs
  assesspy/utils.py
Due: black, isort, flake8

Update outliers docs heading
  docs/source/outliers.rst
Due: none

Path conditions:
  black: any of: ^(assesspy/|tests/) and \.py$
  isort: any of: \.py$, but not: .*/migrations/.*
  flake8: any of: ^(assesspy/|tests/) and \.py$
