Repository ccao-data/assesspy: changes, and which pre-commit hooks are due for each by the changed paths.
All: black, isort, flake8

.pre-commit-config.yaml:

repos:
-   repo: local
    hooks:

    -   id: black
        name: black
        entry: black
        language: system
        types: [ python ]
        files: ^(assesspy/|tests/)

    -   id: isort
        name: isort
        entry: isort
        language: system
        types: [ python ]
        exclude: '.*/migrations/.*'
        args: [
            '--line-length=110',
            '--multi-line=3',
            '--force-grid-wrap=0',
            '--trailing-comma',
            '--use-parentheses',
            '--ensure-newline-before-comments',
        ]

    -   id: flake8
        name: flake8
        entry: flake8
        language: system
        types: [ python ]
        files: ^(assesspy/|tests/)
        args: [
          '--per-file-ignores=
            assesspy/*:E501
            assesspy/__init__.py:F401'
          ]

Update status badge
  README.md
Due: none

Simplify Python testing with tox (#28)
  .Rhistory
  .github/workflows/python-build-and-test.yaml
  .github/workflows/test-coverage.yaml
  README.md
  pyproject.toml
Due: none

Update pytest version and tox env config
  pyproject.toml
Due: none

Split tox setup and run
  .github/workflows/python-build-and-test.yaml
Due: none

Add env cache
  .github/workflows/python-build-and-test.yaml
Due: none

Pass UV_CACHE_DIR
  .github/workflows/python-build-and-test.yaml
  pyproject.toml
Due: none

Disable cache pruning
  .github/workflows/python-build-and-test.yaml
Due: none

Add full uv workflow and caching
  .github/workflows/lint.yaml
  .github/workflows/pages.yaml
  .github/workflows/pypi-publish.yaml
  .github/workflows/python-build-and-test.yaml
Due: none

Finalize GH workflows with uv
  .github/workflows/lint.yaml
  .github/workflows/pages.yaml
  .github/workflows/pypi-publish.yaml
  .github/workflows/python-build-and-test.yaml
Due: none

Change uv cache suffixes
  .github/workflows/lint.yaml
  .github/workflows/pages.yaml
  .github/workflows/python-build-and-test.yaml
Due: none

Use system Python for tox
  .github/workflows/python-build-and-test.yaml
Due: none

Use uv python for tox
  .github/workflows/python-build-and-test.yaml
  pyproject.toml
Due: none

Drop caching from pages
  .github/workflows/pages.yaml
Due: none

Disable cache on lint workflow
  .github/workflows/lint.yaml
Due: none

Cache for each Python version
  .github/workflows/python-build-and-test.yaml
Due: none

Drop dedicated linting PR
  .github/workflows/lint.yaml
Due: none

Fix tox + uv caching (#29)
  .github/workflows/lint.yaml
  .github/workflows/pages.yaml
  .github/workflows/pypi-publish.yaml
  .github/workflows/python-build-and-test.yaml
  pyproject.toml
Due: none

Cache pages after build
  .github/workflows/pages.yaml
Due: none

Add tmate action
  .github/workflows/pages.yaml
Due: none

Add restore mtime
  .github/workflows/pages.yaml
Due: none

Switch to caching Jupyter builds
  .github/workflows/pages.yaml
  docs/source/conf.py
Due: isort

Drop tmate action
  .github/workflows/pages.yaml
Due: none

Cache pages builds (#30)
  .github/workflows/pages.yaml
  docs/source/conf.py
Due: isort

Add median_ratio_met function
  assesspy/__init__.py
  assesspy/metrics.py
  docs/source/reference.rst
Due: black, isort, flake8

Remove vertical equity
  assesspy/metrics.py
Due: black, isort, flake8

Add reference
  assesspy/metrics.py
  docs/source/med_ratio_met.rst
  docs/source/reference.rst
Due: black, isort, flake8

Rename
  assesspy/__init__.py
Due: black, isort, flake8

Black
  assesspy/metrics.py
Due: black, isort, flake8

ruff
  assesspy/__init__.py
  assesspy/metrics.py
Due: black, isort, flake8

typo
  docs/source/med_ratio_met.rst
Due: none

typo
  docs/source/reference.rst
Due: none

Add med_ratio_met function
  assesspy/__init__.py
  assesspy/metrics.py
  docs/source/med_ratio_met.rst
  docs/source/reference.rst
Due: black, isort, flake8

Bump version
  CITATION.cff
  pyproject.toml
Due: none

Bump version (#32)
  CITATION.cff
  pyproject.toml
Due: none

Try adding second sorting for mki
  assesspy/metrics.py
Due: black, isort, flake8

Push test file
  assesspy/test.py
Due: black, isort, flake8

remove second mergesort
  assesspy/metrics.py
Due: black, isort, flake8

update sort
  assesspy/metrics.py
Due: black, isort, flake8

update quintos sample
  assesspy/data/quintos_sample.csv
Due: none

Add test for mki ki matching
  assesspy/data/quintos_sample.csv
  assesspy/tests/conftest.py
  assesspy/tests/test_metrics.py
Due: black, isort, flake8
